button.language {
  font-size: 24px;
  background-color: lightgray;
  margin-left: 12px;
  margin-right: 12px;
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 16px;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  padding-bottom: 6px;
  border-radius: 6px;

  /* your code here 👇 */
}
